<!DOCTYPE html>
<html>
  <head>
    <title>Delivery Tracker 1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>

      <% if current_user != nil %>
        <a href="/">Delivery Tracker</a>
        <a href="/users/sign_out">Sign Out</a>
        <a href="/users/edit">Edit profile</a>
      <% else %>
        <a href="/users/sign_up">Sign Up</a>
        <a href="/users/sign_in">Sign In</a>
      <% end %>

    </nav>

    <hr>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>

    <% if current_user != nil %>
      <hr>
      <div>
        <h1>
          Delivery Tracker
        </h1>
      </div>
    </div>

    <div>
      <div>
        <p>
          Know if something gets lost in the mail.
        </p>
        <hr>
      <% else %>
        <p>You need to sign in or sign up before continuing.</p>
      <% end %>
      <div>

        <%= yield %>
      </body>
    </html>
